@model List<GastoFijoModel>
@*
    Html para el manejo de gastos fijos
*@
@{
    Layout = "~/Views/Shared/LayoutPasosAnalisis.cshtml";
}

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HTML template</title>
    <link rel="stylesheet" href="~/css/GastoFijo/GastoFijo.css">

</head>

@Html.Partial("LayoutNombreEmpresa")

<!-- Invoca al razor SecionGastosFijos. Le envía la lista, la fecha y el totalAnual.-->
<div style="width: 100%; display: flex;">
    @(
        await Html.RenderComponentAsync<PI.Views.Shared.Components.GastoFijo.SeccionGastosFijos>(RenderMode.ServerPrerendered, new { gastosFijos = Model, fechaAnalasis = ViewBag.fechaAnalisis, totalAnual = ViewBag.totalAnual})
        )
</div>

