<!-- models -->
<!-- head -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- links -->
    <link rel="stylesheet" href=~/css/GastoFijo.css>
    <!--  -->
    <title>Gastos Fijos</title>
</head>



@*Necesario para componentes razor*@
<script src="_framework/blazor.server.js"><script/>