<!-- models -->
<!-- head -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- links -->
    <link rel="stylesheet" href=~/css/GastoFijo.css>
    <!--  -->
    <title>Gastos Fijos</title>
</head>

@(await Html.RenderComponentAsync<PI.Views.Shared.Components.GastoFijo>(RenderMode.ServerPrerendered))

@*Necesario para componentes razor*@
<base href="~/" />
<script src="_framework/blazor.server.js"><script/>