@using PI.Models
@using System.Globalization 

@*
    Componente que representa tarjeta de un solo gasto variable
    Este tiene el costo total, lote y la cantidad de componentes
*@

<div class="gastoVar gastoVar-editar">
    <div class="top-gatoVar">
        <div class="gastoVar-nombre"><h1>@*@gastoVariable.Nombre*@ Nombre Gasto</h1></div>
    </div>
    <div class="bottom-gastoVar">
        <div class="gastoVar-caracteristica gastoVar-costo-total">
            <p>
                @*
                @(
                    String.Format(CultureInfo.InvariantCulture, "{0:#,##0.00}", (puesto.SalarioBruto * puesto.Plazas))
                    )
                *@
                100,000.00
            </p>
            <img class="divisa-img" src="/img/generic/coin-icon.svg">
        </div>
        <div>
            <div class="gastoVar-caracteristica gastoVar-lote">
                @*
                <p>@gastoVariable.Lote.ToString()</p>
                *@
                <p>10</p>
            </div>
        </div>
        <div>
            <div class="gastoVar-caracteristica gastoVar-cantidad-componentes">
                @*
                <p>@gastoVariable.Lote.ToString()</p>
                *@
                <p>10</p>
            </div>
        </div>
    </div>
    @*
    <div style=" display:flex; align-items:center; justify-content:center;">
        @if (puesto.Beneficios.Count > 0)
        {
            <p style="margin-right:5px; font-size:large;">
                @(
                    puesto.Beneficios.Count
                    )
            </p>
            <img src="img/estructuraOrg/incentive.png" width="30px" height="30px">
        }
        else
        {
            <h3 style="opacity:0.5;"> No tiene beneficios </h3>
        }
    </div>
    *@
</div>



@code {
    [Parameter]
    public GastoVariableModel gastoVariable { get; set; }
}
