@using PI.Models

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>

    <div class="container text-center mt-5">
        <h2>Analisis de rentabilidad</h2>
        <ul class="responsive-table">
            <li class="table-header">
                <div class="col col-1">Nombre</div>
                <div class="col col-2">% Ventas</div>
                <div class="col col-3">Precio</div>
                <div class="col col-4">Margen</div>
                <div class="col col-5">Punto Eq</div>
                <div class="col col-6">Meta</div>
            </li>

            <li class="table-row-totales">
                <div class="col col-1 mt-2" data-label="Nombre">
                    TOTALES
                </div>
                <div class="col col-2 mt-2" data-label="% Ventas">
                    100%
                </div>
                <div class="col col-3 mt-2" data-label="Precio">
                    -
                </div>
                <div class="col col-4 mt-2" data-label="Margen">
                    -
                </div>
                <div class="col col-5 mt-2" data-label="Punto Eq">
                    9,220.00
                </div>
                <div class="col col-6 mt-2" data-label="Meta">
                    234
                </div>
            </li>

            <li class="table-row">
                <div class="col col-1 mt-2" data-label="Nombre">
                    <p class="datos-calculados">Servicio tecnico</p>
                </div>
                <div class="col col-2" data-label="% Ventas">
                    <input class="effect-1 text-center pb-2" type="text" placeholder="Porcentaje">
                    @*                    <span class="focus-border"></span>*@
                </div>
                <div class="col col-3" data-label="Precio">
                    <input class="effect-1 text-center pb-2" type="text" placeholder="Monto">
                </div>
                <div class="col col-4" data-label="Margen">
                    <p class="datos-calculados" @bind="porcentajeVentas">10,100.00</p>
                </div>
                <div class="col col-5 mt-2" data-label="Punto Eq">
                    <p class="datos-calculados"></p>
                </div>
                <div class="col col-6 mt-2" data-label="Meta">
                    <p class="datos-calculados">10,100.00</p>
                </div>
            </li>

        </ul>
    </div>
</body>

@code {

}
