@*
    Vitsa que indica que se esta bajo construccion x seccion
*@
@{
    Layout = "~/Views/Shared/LayoutPasosAnalisis.cshtml";

}

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>En construcci&oacuten - PI</title>
</head>

<h1>Esta secci&oacuten se encuentra en construcci&oacuten</h1>