div {
    font-family: sans-serif;
}


#encabezado {
    width: auto;
    height: 100px;
    box-shadow: 2px 2px 10px rgba(158, 158, 158, 0.5);
    display: flex;
    margin-bottom: 40px;
}

#logo {
    width: 25%;
    padding-left: 10px;
}

#botones_der {
    width: 25%;
}

#boton_usuario {
    padding-top: 27px;
    width: 12.5%;
    float: right;
    font-size: 16;
}

#boton_ajustes {
    padding-top: 27px;
    width: 12.5%;
    float: right;
    font-size: 16;
}

#boton_negocios {
    padding-top: 30px;
    width: 50%;
    float: right;
    font-size: 20;
}

#nombre_seccion {
    padding-top: 20px;
    width: 50%;
    top: 10px;
    text-align: center;
    font-size: 45;
}

#subtitulo {
    width: 554;
    height: 62;
    background-color: #005DB9;
    color: white;
    display: flex;
    border-radius: 0px 20px 20px 0px;
    box-shadow: 2px 2px 10px rgba(158, 158, 158, 0.5);
    margin-bottom: 40px;
}

#nombre_negocio {
    padding-top: 5px;
    width: 100%;
    text-align: center;
    font-size: 40;
}

div a {
    color: black;
    text-decoration: none;
    font-size: 25;
}
