<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PersonalProject</title>
    <link rel="stylesheet" href="css/layout.css" asp-append-version="true" />

</head>
<body>
    <div id="encabezado">
        <div id="logo">
            <a href="#">
                <img src=img/lagoysarmiento.png alt="Logo de la empresa">
            </a>
        </div>
        <div id="nombre_seccion">
            @ViewData["TituloPaso"]
        </div>
        <div id="botones_der">
            <div id="boton_usuario">
                <a href="#"><img src=img/user.png alt="Usuario"></a>
            </div>
            <div id="boton_ajustes">
                <a href="#"><img src=img/settings.png alt="Ajustes"></a>
            </div>
            <div id="boton_negocios"><a href="#">Mis negocios</a></div>
        </div>
    </div>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
