@using Microsoft.AspNetCore.Identity
@using PI.Areas.Identity.Data
@inject SignInManager<UserApplication> SignInManager
@inject UserManager<UserApplication> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/LayoutPasosAnalisis.css" asp-append-version="true" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
</head>
<body>
    <header id="encabezado">
        <div class="row">
            <div class="col-4 d-flex justify-content-start align-items-center">
                <div id="logo">
                    <a asp-controller="Negocio" asp-action="Index">
                        <img src="~/img/lagoysarmiento.png" alt="Logo de la empresa">
                    </a>
                </div>
            </div>
            <div class="col-4 d-flex justify-content-center align-items-center">
                <div id="nombre_seccion">
                    @ViewData["TituloPaso"]
                </div>
            </div>
            <div class="col-4 d-flex justify-content-end align-items-center">
                <div id="botones_der">

                   
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                            <button id="logout" type="submit" class="logout-button">Cerrar sesión</button>
                        </form>
                    }

                    <div id="boton_negocios"><a asp-controller="Negocio" asp-action="Index">Mis negocios</a></div>
                </div>
            </div>
        </div>
     
    </header>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>

    <footer>
        <div class="container-contacts">
            <h2>Contactos</h2>
            <div class="row">
                <div class="col-sm">
                    <p class="contact"> <a href="mailto:daniel.escobargiraldo@ucr.ac.cr">⬤ daniel.escobargiraldo@ucr.ac.cr</a> </p>
                </div>
                <div class="col-sm">
                    <p class="contact"> <a href="mailto:fabian.orozcochaves@ucr.ac.cr">⬤ fabian.orozcochaves@ucr.ac.cr</a> </p>
                </div>
                <div class="col-sm">
                    <p class="contact"> <a href="mailto:gabriel.bonillarivera@ucr.ac.cr">⬤ gabriel.bonillarivera@ucr.ac.cr</a> </p>
                </div>
                <div class="col-sm">
                    <p class="contact"> <a href="mailto:christopher.perez@ucr.ac.cr">⬤ christopher.perez@ucr.ac.cr</a> </p>
                </div>
                <div class="col-sm">
                    <p class="contact"> <a href="mailto:wilmer.araya@ucr.ac.cr">⬤ wilmer.araya@ucr.ac.cr</a> </p>
                </div>
            </div>
            <div class="row">
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
<base href="~/" />
<script src="_framework/blazor.server.js"></script>
<script src="_content/BlazorCleave/BlazorCleave.js"></script>
