@model PuestoModel
@*
    Esta es una vista parcial de un puesto.
    Es una caja con el nombre del puesto. cantidad de plazas y salario.
*@

<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="PuestoParcialView.cshtml.css" />
    </head>

    <body>
        <div onclick="alert('Editar Puesto')" class="puesto puesto-editar">
            <div class="top-puesto">
                <div class="puesto-plazas"><p>@Model.Plazas</p></div>
                <div class="puesto-nombre"><h1>@Model.Nombre</h1></div>
            </div>
            <div class="puesto-salario-neto">
                <p>@Model.SalarioNeto</p>
                <img class="divisa-img" src=img/puesto/divisa.png></img>
            </div>
        </div>
    </body>
</html>
