.card-clickleable {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: fit-content;
    height: fit-content;
    margin: 15px 7px 20px 7px;
    transition-duration: 0.4s;
}

.card-clickleable:hover {
    color: black;
    cursor: pointer;
    transform: scale(1.03);
    transition-duration: 0.2s
}

.card-clickleable:hover .icono-editar {
    color: black;
    cursor: pointer;
    background-color: #E2F2FF;
}

.card-gastoInicial {
    display: flex;
    flex-direction: column;
    border: solid;
    border-color: white;
    border-width: 4px;
    background-color: white;
    min-height: fit-content;
    max-width: fit-content;
    min-width: 250px;
    border-radius: 20px;
    margin: 10px;
    padding: 5px;
    align-items: center;
    transition-duration: 0.2s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.card-clickleable:hover .card-gastoInicial {
    color: black;
    cursor: pointer;
    background-color: #E2F2FF;
    border-color: #E2F2FF;
}

.icono-editar {
    width: 44px;
    height: 48px;
    margin-left: -32px;
    border: solid;
    border-width: 2px;
    border-color: lightgray;
    border-radius: 20px;
    background-color: white;
    transition-duration: 0.4s;
    z-index: 5;
}

.icono-editar img {
    width: 30px;
    height: auto;
}

