<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HTML template</title>
    <link rel="stylesheet" href="css/negocio.css">
</head>

<div id="subtitulo">
    <div id="nombre_negocio">@ViewData["NombreNegocio"]</div>
</div>


<div id="cuadro_beneficios">
   <a class="pestaña_cuadro_beneficios" href="#">
         <p>
            Configuración
        </p>
   </a>
   <a class="pestaña_cuadro_beneficios" href="#">
        <p>
            Beneficios
        </p>
   </a>
   <a class="pestaña_cuadro_beneficios" href="#">
        <p>
            Jerarquía
        </p>
   </a>
   <>
</div>



