@model List<PI.Models.NegocioModel>;

<!doctype html>
<html>

<head>
        <meta charset="UTF-8">
        <title> Mis negocios </title>
<!-- links -->
        <link rel="stylesheet" href="/index.cshtml.css" />
</head>
<!-- body -->
    <body>
        <header>
            <h1> Mis Negocios </h1>
        </header>
        <div class="card-container">
        <a asp-controller="Negocio" asp-action="FormAgregarNegocio">
            <div class="card card-agregar">
                <img class="boton-agregar" src=Images/agregar-img.svg>
</div>
   </a>
<!-- negocio cards-->
        @foreach (var item in Model)
        {
            <div class="card card-negocio">
                <div class="card-info">
                    <div class="card-nombre"> 
                        <span> @item.Nombre </span></div>
                    <div class="card-tipo">
                        <span id="tipoNegocio">tipo</span>
                        <div class="inicial-nombre">
                            <span> @item.Nombre[0] </span></div>
                    </div>
                    <div class="card-analisis"> <span>Cantidad de analisis: @item.Analisis.Count</span> </div>
                    <div class="card-actualizacion"> <span>Fecha de creacion: @item.FechaCreacion.ToString() </span> </div>
                </div>
            </div>
        }
</div>
    </body>
</html>