.hovertext {
    position: relative;
}

.hovertext:before {
    content: attr(data-hover);
    visibility: hidden;
    opacity: 0;
    width: 140px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px 0;
    transition: opacity 0.2s ease-in-out;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 110%;
    font-size: 15px;
}

.hovertext:hover:before {
    opacity: 1;
    visibility: visible;
}

.link-no-clikeable {
    color: gray;
}

.link-no-clikeable:hover {
    text-decoration: none;
    color: gray;
}
