
<li class="table-row-flujoMensual">
    <div class="col col-1">
        <p class="datos-calculados texto-nombres">Flujo mensual</p>
    </div>
    <div class="col col-1">
        0
    </div>
    <div class="col col-1">
        0
    </div>
    <div class="col col-1">
        0
    </div>
    <div class="col col-1">
        0
    </div>
    <div class="col col-1">
        0
    </div>
    <div class="col col-1">
        0
    </div>
</li>

@code {

}
