@using PI.Services;
@using PI.Handlers;
@using PI.Models;

@*Fila del flujo mensual en la tabla de egresos e ingresos del flujo de caja*@
<li class="table-row-flujoMensual">
    <div class="col col-1">
        <p class="datos-calculados texto-nombres">Flujo mensual</p>
    </div>
    @foreach (var montoDelMes in flujoMensual)
    {
        <div class="col col-1">
            @montoDelMes
        </div>
    }
</li>

@code {
    // Lista con el monto monetario (decimal) del flujo mensual de cada mes.
    [Parameter]
    public List<string> flujoMensual { get; set; }
}
