@using PI.EntityHandlers
@using PI.EntityModels
@using PI.Services
@using BlazorCleave
@using BlazorCleave.Data
@using System.Globalization
@using PI.Views.Shared.Components.FlujoDeCaja
@inject FlujoCajaService FlujoCajaService;

<div class="d-flex col-10 justify-content-end mb-4">
    <BotonesFlujoPasos NumeroPasoActual=6 NumeroPasoMaximo=6 FechaAnalisis=FechaAnalisis EnMarcha=estadoIniciado></BotonesFlujoPasos>
</div>
<div class="row fila-meta-inversion d-flex justify-content-center">

    @*Meta de mensual de ventas*@
    <div class="col-6 d-flex justify-content-center">
        <label>Meta mensual de ventas</label>
        <div class="dato-meta-inversion">
            <span>
                @FormatManager.ToFormatoEstadistico(metaDeVentasMensual)
            </span>
        </div>
    </div>

    @*Inversion inicial*@
    @if (estadoIniciado == false)
    {
        <div class="col-6 d-flex justify-content-center">
            <label>Inversion inicial</label>
            <div class="dato-meta-inversion">
                <span>
                    @FormatManager.ToFormatoEstadistico(inversionInicial)
                </span>
            </div>
        </div>
    }
</div>
<div id="contenedor-tabs" class="my-5">
    <nav>
        <div class="nav nav-tabs tabs-tablas" id="nav-tab" role="tablist">
            <button class="nav-link active tab-flujo" id="nav-ingresos-tab" data-bs-toggle="tab"
                    data-bs-target="#ingresos" type="button" role="tab" aria-controls="nav-ingresos"
                    aria-selected="true" @onclick="async() => await ActualizarFlujoMensualAsync()">
                Ingresos
            </button>
            <button class="nav-link tab-flujo mx-1" id="nav-egresos-tab" data-bs-toggle="tab"
                    data-bs-target="#egresos" type="button" role="tab" aria-controls="nav-egresos"
                    aria-selected="false" @onclick="async() => await ActualizarFlujoMensualAsync()">
                Egresos
            </button>
        </div>
    </nav>

    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="ingresos" role="tabpanel" aria-labelledby="nav-ingresos-tab">
            <div class="mt-4">
                <TablaIngresos Ingresos=ingresos Meses=meses FlujoMensual=flujoMensual IngresosTotales=ingresosTotales />

            </div>
        </div>

        <div class="tab-pane fade" id="egresos" role="tabpanel" aria-labelledby="nav-egresos-tab">
            <div class="mt-4">
                <TablaEgresos gastosFijos=gastosFijos egresos=egresos estadoIniciado=estadoIniciado inversionInicial=inversionInicial meses=meses flujoMensual=flujoMensual egresosTotales=egresosTotales />
            </div>
        </div>
    </div>
</div>
@code {
    [Parameter]
    public List<GastoFijo> gastosFijos { get; set; }

    [Parameter]
    public List<Egreso> egresos { get; set; }

    [Parameter]
    public List<Ingreso> ingresos { get; set; }

    [Parameter]
    public bool estadoIniciado { get; set; }

    [Parameter]
    public decimal inversionInicial { get; set; }

    [Parameter]
    public decimal metaDeVentasMensual { get; set; }

    [Parameter]
    public List<Mes> meses { get; set; }

    [Parameter]
    public List<string> flujoMensual { get; set; }

    [Parameter]
    public List<string> ingresosTotales { get; set; }

    [Parameter]
    public List<string> egresosTotales { get; set; }

    [Parameter]
    public DateTime FechaAnalisis { get; set; }
    


    public async Task ActualizarFlujoMensualAsync(){
        await FlujoCajaService.ActualizarFlujoMensualAsync(meses, flujoMensual);
    }

    protected override async Task OnInitializedAsync()
    {
        await ActualizarFlujoMensualAsync();
    }
}
