@using PI.Models

<div class="gasto gasto-editar">
    <div class="top-gasto">
        <div class="gastoFijo-nombre"><h1>@*@gastoFijo.Nombre*@nombre</h1></div>
    </div>
    <div class="gastoFijo-monto Mensual">
        <p>@*@gastoFijo.Monto.ToString()*@monto</p>
        <img class="divisa-img" src=img/puesto/divisa.png>
    </div>
    <div class="gastoFijo-monto Anual">
        <p>@*@gastoFijo.Monto.ToString()*@monto2</p>
        <img class="divisa-img" src=img/puesto/divisa.png>
    </div>
</div>

@code {
    [Parameter]
    public GastoFijoModel gastoFijo { get; set; }
}
