
<div class="table-container">
    <table>
        <tr class="table-header">
            <th>Rubro</th>
            <th>
                <div>Gasto mensual </div>
                <div class="text-total">Total: </div>
            </th>
            <th>

                <div>Gasto anual</div>
                <div class="text-total">Total: </div>
            </th>
        </tr>
        <tr>
            <!--Gastos cargados de estructura organizativa-->
            <td class="gastofijo"> Salarios </td>
            <td class="gastofijo"> 170.000 </td>
            <td class="gastofijo"> 15.000 </td>
        </tr>
        <tr> 
            <td class="gastoNuevo">
                <input type="text" placeholder="Nombre"/>
            </td>
            <td class="gastoNuevo" >
                <input type="text" placeholder="Monto mensual"/>
            </td>
            <td class="gastoNuevo"></td>
        </tr>

        @((MarkupString)nuevaFila)
        <!--Nuevas tablas-->
    </table>
<div @onclick="AgregarFormGastoFijo" class="boton-agregar-container">
    <img id="add" src=/Images/AddButton.jpg/>
</div>
    </div>

@code {

    public string nuevaFila = "";

    public void AgregarFormGastoFijo()
    {
        nuevaFila += "<tr><td class=\"gastoNuevo\"> <input type=\"text\"placeholder=\"Nombre\"/> </td> <td class=\"gastoNuevo\"> <input type = \"text\" placeholder=\"Monto mensual\"/></td><td class=\"gastoNuevo\"></td> </tr>";
    }
}