@using PI.Models
@using PI.Handlers
@inject NavigationManager NavigationManager;

@*@if (popUpVisible) {*@

    <div id="contenedor_beneficios">
        <h1 id="titulo_beneficios" >Beneficios</h1>
        <table id=lista_beneficios>
        @if (puesto.Beneficios.Count() > 0) { 
            <tr>
                <th style ="border:none;">Nombre</th>
                <th style="border:none;">Monto</th>
                <th style="border:none;"> Plazas </th>
                <th style="border:none;" width="40px"></th>
            </tr>
        }
        else {
            <tr>
                <th style ="border:none; text-align:center; opacity:0.5;"> No hay beneficios que mostrar</th>
            </tr>
        }
            @for(int i = 0; i < puesto.Beneficios.Count(); i += 1)
            {
                int index = i;

                    <tr class="filas_tabla_beneficio">
                        <td> @puesto.Beneficios[index].nombreBeneficio</td>
                        <td> @puesto.Beneficios[index].monto</td>
                        <td> @puesto.Beneficios[index].plazasPorBeneficio </td>
                        <td class="columna-borrar-beneficio"><div class="borrar-beneficio" @onclick="()=>borrarBeneficio(puesto.Beneficios[index])"><img src="img/puesto/trashCan.png" width="35px" height="35px"></div></td>
                     </tr>
            }
            @((MarkupString)html)
        </table>
        @if (formVisible)
    {
        comodines.Add(new BeneficioModel());
        <h2>Nuevo beneficio</h2>
            <div id="tabla_form">
                    <div id="container-input-nombre-beneficio">
                        <label for="nombreBeneficio">Nombre:</label>
                        <input id = "input_nombre_beneficio" name="nombreBeneficio" @bind="comodines[comodinActual].nombreBeneficio">
                    </div>
                    <div id="container-input-monto-beneficio">
                        <label for="montoBeneficio">Monto:</label>
                        <input id="input_monto_beneficio" name="montoBeneficio" type="number" @bind="comodines[comodinActual].monto">
                    </div>
                    <div id="container-input-plazas-beneficio">
                        <label for="montoBeneficio">Plazas:</label>
                        <input id="input_plazas_beneficio" name="plazasBeneficio" type="number" @bind="comodines[comodinActual].plazasPorBeneficio">
                    </div>
                    <div id="seccion-guardar-beneficio">
                        <div id="boton-guardar-beneficio" @onclick="agregarBeneficioNuevo">
                            <img src="img/estructuraOrg/guardarPuesto.png" alt="" width="30px" height="30px">
                        </div>
                    </div>
            </div>
        }
            <div id="botones_beneficios">
        @if (!formVisible) { 
                <div id="boton-agregar-beneficio">
                    <img src="img/estructuraOrg/addPuesto.png" alt="" width="30px" height="30px" @onclick="cambiarVisibilidadForm">
                </div>
        } else {
                <div id="boton-cerrar-form-beneficio">
                    <img src="img/estructuraOrg/minus.png" alt="" width="30px" height="30px" @onclick="cambiarVisibilidadForm">
                </div>
        }
            </div>
    <div id="salir-popup-beneficios">
        <img src="img/estructuraOrg/x.png" alt="" width="15px" height="15px" @onclick="cambiarVisibilidadForm">
    </div>
    </div>

@*}*@
@code {
    [Parameter]
    public PuestoModel puesto { get; set; } = new PuestoModel();

    [Parameter]
    public DateTime fechaAnali { get; set; }

    public BeneficioModel comodin = new BeneficioModel();

    public List<BeneficioModel> comodines = new List<BeneficioModel>();

    int comodinActual = 0;

    public bool formVisible = false;

    public string html = "";

    Queue<Tuple<BeneficioModel, int>> cambiosBeneficios = new Queue<Tuple<BeneficioModel, int>>();

    public void agregarBeneficioNuevo()
    {
        EstructuraOrgHandler h = new EstructuraOrgHandler();
        comodines[comodinActual].fechaAnalisis = fechaAnali;
        comodines[comodinActual].nombrePuesto = puesto.Nombre;
        formVisible = false;
        puesto.Beneficios.Add(comodines[comodinActual]);
        h.AgregarBeneficio(comodines[comodinActual]);
        comodines.Add(new BeneficioModel());
        comodinActual += 1;
    }


    public void borrarBeneficio(BeneficioModel b) {
        b.fechaAnalisis = puesto.FechaAnalisis;
        b.nombrePuesto = puesto.Nombre;
        EstructuraOrgHandler h = new EstructuraOrgHandler();
        puesto.Beneficios.Remove(b);
        h.BorrarBeneficio(b);

    }

    public void cambiarVisibilidadForm()
    {
        if (formVisible)
        {
            formVisible = false;
        }
        else
        {
            formVisible = true;
        }
    }
    public string hoverTextAgregar = "";
    public string hoverTextGuardar = "";

    public bool hoverGuardar = false;
    public bool hoverAgregar = false;

    public void Hover(int action)
    {

        if (action == 1) {
            hoverTextAgregar = "Agregar Beneficio";
            hoverAgregar = true;
        }
        else if (action == 2)
        {
            hoverGuardar = true;
            hoverTextGuardar = "Guardar datos";
        }
    }
    public void HoverOut(int action)
    {
        if (action == 1)
        {
            hoverTextAgregar = "";
            hoverAgregar = false;
        } else {
            hoverGuardar = false;
            hoverTextGuardar = "";
        }
    }

    public void refrescarPagina() { 
        NavigationManager.NavigateTo(NavigationManager.Uri, forceLoad: true);
    }

}