@charset "UTF-8";

.gastoFijo {
    border: solid;
    border-color: white;
    border-width: 4px;
    background-color: white;
    /*box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.3);*/
    min-height: fit-content;
    max-width: fit-content;
    min-width: 230px;
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
    align-items: center;
    transition-duration: 0.2s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}
.gastoFijo h1 {
    text-align: center;
}
.gastoFijo:hover {
    background-color: #E2F2FF;
    border-color: #E2F2FF;
    transition-duration: 0.2s;
}

.gastoFijo-NoEditable {
    border: none;
    border-width: 4px;
    background: #E2E2E2;
    /*box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.3);*/
    min-height: fit-content;
    max-width: fit-content;
    min-width: 230px;
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
    align-items: center;
    cursor: default;
    box-shadow: none;
    box-shadow: inset 1px 4px 8px 2px rgba(0,0,0,0.19);
}

.gastoFijo-NoEditable h1 {
    text-align: center;
}

.gastoFijo-NoEditable:hover {
    background: #E2E2E2;
    transform: none;
    transform: none;
}


.top-gastoFijo {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin: 5px 0px 0px 0px;
    align-content: center;
}

.bottom-gastoFijo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 0px 0px 0px;
    align-content: center;
    flex-direction: row;
}

.gastoFijo-caracteristica {
    text-align: center;
    margin: 10px 0px 5px 0px;
    font-size: 25px;
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

    .gastoFijo-caracteristica p {
        margin: 0px 5px 0px 5px;
        font-size: 20px;
    }

.gastoFijo-numero-plazas {
    margin-left: 10px
}


.gastoFijo-salario-bruto {
    margin-right: 10px
}


.gastoFijo-nombre h1 {
    display: flex;
    margin: 0px;
    font-size: 25px;
    flex-wrap: wrap;
}

.gastoFijo-plazas p {
    border: solid;
    border-color: lightgray;
    transition-duration: 0.2s;
    padding: 2px 3px 2px 3px;
    margin: 0px;
    border-radius: 20px;
    max-width: fit-content;
    min-width: 30px;
    text-align: center;
}

.divisa-img {
    width: 30px;
    height: auto;
}

.plaza-img {
    width: 27px;
    height: auto;
}


/**------------------------------------*/
/**------------------------------------*/
/**------------------------------------*/
/**------------------------------------*/

#subtitulo {
    width: 554px;
    height: 62px;
    background-color: #005DB9;
    color: white;
    display: flex;
    border-radius: 0px 20px 20px 0px;
    box-shadow: 2px 2px 10px rgba(158, 158, 158, 0.5);
    margin-bottom: 40px;
    margin-top: 40px;
}

#nombre_negocio {
    padding-top: 10px;
    width: 100%;
    text-align: center;
    font-size: xx-large;
}

#pestañas {
    margin-left: 85px;
    margin-top: 0px;
    display: flex;
    width: 500px;
    height: 30px;
}

.pestaña_cuadro_beneficios {
    width: 50%;
    height: 100%;
    text-align: center;
    font-size: medium;
    border: 1px solid rgb(117, 115, 115);
    border-radius: 10px 10px 0px 0px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    align-content: center;
}

#cuadro_beneficios {
    margin: 10px;
    width: 571px;
    height: 271px;
    border: 1px solid rgb(117, 115, 115);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

#cuadro_configuracion {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin: 10px;
    width: 571px;
    height: fit-content;
    border: 1px solid rgb(117, 115, 115);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

div a {
    color: black;
    text-decoration: none;
    font-size: medium;
}

#contenido-puestos-pestañas {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: center;
    height: fit-content;
}

#seccion-gastosFijos {
    display: flex;
    flex-direction: column;
    border: solid;
    border-width: 1px;
    border-radius: 0px 20px 20px 0px;
    width: 100%;
    min-width: 600px;
    margin-right: 75px;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.19);
}

.altura-seccion {
    min-height: 600px;
    max-height: fit-content;
}

#seccion-pestañas {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: solid;
    border-right-color: transparent;
    border-width: 1px;
    border-radius: 20px 0px 0px 20px;
    width: fit-content;
    margin-right: 0px;
    margin-left: 75px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.19);
}

#titulo-contenido {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}


#agregar-gastoFijo img {
    width: 35px;
    padding: 5px;
}

#agregar-gastoFijo {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: center;
    height: fit-content;
    width: fit-content;
    border: solid;
    border-width: 2px;
    border-radius: 10px;
    border-color: #ccc;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.19);
    margin: 25px;
    transition-duration: 0.3s;
}

#agregar-gastoFijo:hover {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: center;
    height: 49px;
    width: fit-content;
    border: solid;
    border-color: transparent;
    border-radius: 10px;
    margin: 25px;
    padding-inline: 5px;
    font-size: 20px;
    cursor: pointer;
    transition-duration: 0.8s;
    background-color: #E2F2FF;
}

#guardar-gastoFijo img {
    width: 35px;
    padding: 5px;
}


#guardar-gastoFijo {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: center;
    height: fit-content;
    width: fit-content;
    border: solid;
    border-width: 2px;
    border-radius: 10px;
    border-color: #ccc;
    margin: 20px;
    transition-duration: 0.3s;
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.19);

}

#guardar-gastoFijo:hover {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: center;
    height: 49px;
    width: fit-content;
    border: solid;
    border-color: transparent;
    border-width: 2px;
    border-radius: 10px;
    margin: 20px;
    padding-inline: 5px;
    font-size: 20px;
    cursor: pointer;
    background-color: #E2F2FF;
    transition-duration: 0.8s;
}

#mostrar-gastosFijos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: fit-content;
    height: fit-content;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: center;
}

#form_configuracion {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin: 20px;
}

.fila-form-configuracion {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin: 10px 0px 10px 0px;
}

    .fila-form-configuracion label {
        border: solid;
        border-radius: 20px 0px 0px 20px;
        padding: 9px 10px 9px 10px;
        border-width: 1px;
        font-size: 25px;
        width: 180px;
        text-align: center;
        background-color: #E2E2E2;

    }

    .fila-form-configuracion input {
        border: solid;
        border-radius: 0px 20px 20px 0px;
        padding: 9px 10px 9px 10px;
        border-width: 1px;
        font-size: 25px;
        width: 200px;
        text-align: center;
    }

    .fila-form-configuracion p {
        border: solid;
        border-radius: 0px 20px 20px 0px;
        padding: 5px 10px 5px 10px;
        border-width: 1px;
        font-size: 25px;
        width: 200px;
        text-align: center;
        background-color: #E2E2E2;
        margin: 0px;
    }

#inferior-horizontal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
}


.gastoFijo-clickeable-eliminable {
    display: flex;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: fit-content;
    height: fit-content;
    margin: 0px 7px 0px 7px;
    transition-duration: 0.2s;
}

.gastoFijo-clickeable-eliminable:hover {
    color: black;
    cursor: pointer;
    transform: scale(1.03);
    transition-duration: 0.2s;
    /*box-shadow: 0px 0px 10px 4px rgba(0,0,0,0.19);*/
}
.gastoFijo-noClickeable-noEliminable {
    display: flex;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: fit-content;
    height: fit-content;
    margin: 0px 7px 0px 7px;
    transition-duration: 0.2s;
}
.gastoFijo-noClickeable-noEliminable:hover {
    color: black;
    cursor: default;
    transform: scale(1.02);
    transition-duration: 0.2s;
}
.gastoFijo-icono-eliminar {
    width: 35px;
    padding: 1px;
    margin-left: -33px;
    border: solid;
    border-width: 3px;
    border-color: lightgray;
    border-radius: 20px;
    background-color: white;
    transition-duration: 0.2s;
}

    .gastoFijo-icono-eliminar:hover {
        transform: scale(1.1);
        background-color: #FFC8C8;
        border-color: #FFC8C8;
        transition-duration: 0.2s;
    }


.totales {
    /*para no poder cliclear*/
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /*para no poder cliclear*/

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    border-block-end: solid 1px;
    width: 100%;
}

.totales p {
    margin: 0px 20px 0px 0px;
    width: fit-content;
    padding-inline: 50px;
}
.totales label {
    background-color: white;
}

.error {
    font-size: 12px;
    color: red;
    width: fit-content;
    height: auto;
}