
.card {
    border: solid 1px;
    border-color: lightgray;
    background-color: white;
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.2);
    width: 198px;
    height: 198px;
    border-radius: 20px;
    transition-duration: 0.5s;
    margin-inline: 30px;
    justify-content: center;
}

.card-agregar img {
    width: 50px;
    height: 50px;
}

.card-agregar {
    justify-content: center;
    align-items: center;
    width: 198px;
    height: 198px;
}

.card-agregar:hover {
    background-color: #E2F2FF;
    cursor: pointer;
    transition-duration: 0.3s;
    transform: scale(1.03);
}

.card-analisis {
    margin-top: 10px;
}

.card-footer {
    color:white;
}

.footer-en-curso {
    background-color: #93D500;
}

.footer-finalizado {
    background-color: rgb(94, 94, 94);
}

.edit-icon img {
    width: 20px;
    height: 20px;
}

.edit-icon {
    width: 40px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 50%;
    margin-left: -45px;
    background-color: #fff;
    z-index: 1;
    transition-duration: 0.5s;
}

.card-clickleable:hover .edit-icon {
    background-color: #E2F2FF;
    cursor: pointer;
}

.card-clickleable:hover .card-analisis {
    background-color: #E2F2FF;
    cursor: pointer;
}
.card-clickleable:hover {
    transition-duration: 0.3s;
    transform: scale(1.03);
}

/*Popup*/

.popup {
    z-index: 10;
    width: 50%;
}

.bg-body {
    z-index: 5;
    background-color: black;
    opacity: 0.5;
    width: 100%;
    height: 128%;
}