
.switch-container {
    vertical-align:middle;
    right: 100%;
    width: stretch;
    justify-content:center;
    display:flex;
    align-items:center;
}

.switch-text {
    font-weight:600;
}

.opcion-unidad {
    margin-right:5px;
}

.opcion-monto {
    margin-left: 5px;
}

input[type="checkbox"].switch_1 {
    outline: none;
    font-size: 30px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 2em;
    height: 1em;
    background: #4A4F55;
    border-radius: 3em;
    position: relative;
    cursor: pointer;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    -moz-appearance: none;
    -webkit-appearance: none;
}




    input[type="checkbox"].switch_1:checked {
        background: #005DB9;
    }

    input[type="checkbox"].switch_1:after {
        position: absolute;
        content: "";
        width: 1em;
        height: 1em;
        border-radius: 50%;
        background: #fff;
        -webkit-box-shadow: 0 0 .25em rgba(0,0,0,.3);
        box-shadow: 0 0 .25em rgba(0,0,0,.3);
        -webkit-transform: scale(.7);
        transform: scale(.7);
        left: 0;
        -webkit-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
    }

    input[type="checkbox"].switch_1:checked:after {
        left: calc(100% - 1em);
    }

/* Switch 1 Specific Style End */
