@using PI.Models
@using System.Globalization 

@*
    Componente que representa tarjeta de un solo gasto variable
    Este tiene el costo total, lote y la cantidad de componentes
*@

<div class="gastoVar gastoVar-editar">
    <div class="top-gastoVar">
        <div class="gastoVar-nombre"><h1>@producto.Nombre.ToString()</h1></div>
    </div>
    <div class="bottom-gastoVar">
        <div class="gastoVar-caracteristica gastoVar-costo-total">
            <p>@producto.CostoVariable.ToString()</p>
            <img class="divisa-img" src="/img/generic/coin-icon.svg">
        </div>
        <div>
            <div class="gastoVar-caracteristica gastoVar-lote">
                <p>@producto.Lote.ToString()</p>
                <br/>
            </div>
        </div>
        <div>
            <div class="gastoVar-caracteristica gastoVar-cantidad-componentes">
                @*
                *@
                <p>@producto.Componentes.Count().ToString()</p>
            </div>
        </div>
    </div>
 
</div>



@code {
    [Parameter]
    public ProductoModel producto { get; set; }
}
