<!doctype html>
<html>

    <head>
        <meta charset="UTF-8">
        <title> Mis negocios </title>
        <link rel="stylesheet" href="./Mis_negocios.css" />
    </head>

    <body>
        <header>
            <h1> Mis Negocios </h1>
        </header>
        <div class="card-container">
            <div  onclick="alert('Agregar')" class="card card-agregar"> <img class="boton-agregar" src="../Images/agregar-img.svg"> </div>
            <div onclick="alert('Ver Negocio')" class="card card-negocio">
                <div class="card-info">
                    <div class="card-nombre"> Nombre del Negocio </div>
                    <div class="card-tipo"> <img class="logo-negocio" src="../Images/ejemplo-logo.svg"> Tipo de negocio </div>
                    <div class="texto card-analisis"> Cantidad de analisis: 0 </div>
                    <div class="texto card-actualizacion"> Ultima actualizacion: DD/MM/AAAA</div>
                </div>
            </div>
        </div>
    </body>

</html>