<!doctype html>
<html>

    <head>
        <meta charset="UTF-8">
        <title> Mis negocios </title>
        <link rel="stylesheet" href="./Mis_negocios.css"/>
    </head>

    <body>
        <header>
            <h1> Mis Negocios </h1> 
        </header>
        <div>
            <button type="button" class = "button1"> <img src="imagen"> </button>
            <button type="button" class = "button2"> 
                <h3> Titulo </h3>
                <h4> <img src="imagen"> Tipo de negocio </h4>
                <p> Cantidad de analisis: 0 </p>
                <p> Última actualización: DD/MM/AAAA</p>  
            </button>
            <button type="button" class = "button2"> 
                <h3> Titulo </h3>
                <h4> <img src="imagen"> Tipo de negocio </h4>
                <p> Cantidad de analisis: 0 </p>
                <p> Última actualización: DD/MM/AAAA</p>  
            </button>
        </div>
    </body>

</html>